html{
    background-color: $fondo;
    @extend variables.scss;
  }
  
  body{
    width: $anchura;
    font: $anchura $fuente;
    color: $color;
    @extend variables.scss;
  }
  
  nav{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      color: $color_menu;
      @extend variables.scss;
    }
  
    li{
      display: inline-block;
      @extend variables.scss;
    }
  
    a{
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      color: $color_enlaces;
      @extend variables.scss;
    }
  }